/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root {

  /**
   * colors
   */

  --green-blue-crayola: hsl(34, 90%, 39%);
  --prussian-blue: hsl(201, 77%, 5%);
  --eerie-black: hsl(210, 11%, 15%);
  --dark-orange: hsl(31, 90%, 62%);
  --alice-blue: hsl(203, 100%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --indigo-dye: hsl(200, 75%, 3%);
  --cultured-1: hsl(0, 0%, 94%);
  --cultured-2: hsl(0, 0%, 95%);
  --cultured-3: hsl(0, 0%, 95%);
  --plutinum: hsl(0, 0%, 91%);
  --black_60: hsla(0, 0%, 0%, 0.6);
  --white: hsl(90, 40%, 98%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 24%);

  /**
   * typography
   */

  --ff-oswald: 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * spacing
   */

  --section-padding: 10px;

  /**
   * shadow
   */

  --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
time,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--onyx);
  font-size: 1.6rem;
  line-height: 1.7;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--cultured-2);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border: 2px solid var(--cultured-2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.containe {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-oswald);
  line-height: 1.2;
  font-weight: var(--fw-600);
}

.h1 {
  font-size: var(--fs-3);
  text-transform: uppercase;
}

.h2,
.h3 {
  color: var(--prussian-blue);
}

.h2 {
  font-size: var(--fs-4);
}

.h3 {
  font-size: var(--fs-5);
}

.img-holder {
  background-color: var(--light-gray);
  aspect-ratio: var(--width) / var(--height);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section-subtitle {
  color: var(--dark-orange);
  text-transform: uppercase;
  font-size: var(--fs-6);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 10px;
}

.section-text {
  line-height: 1.4;
}

.btn {
  position: relative;
  color: var(--white);
  background-color: var(--dark-orange);
  max-width: max-content;
  font-size: var(--fs-9);
  letter-spacing: 1px;
  padding-block: 10px;
  padding-inline: 15px 50px;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: var(--transition);
}

.btn::before {
  top: 50%;
  right: 15px;
  width: 25px;
  height: 1px;
  background-color: var(--white);
}

.btn::after {
  top: -6px;
  right: -6px;
  bottom: -6px;
  width: 20px;
  border: 2px solid var(--dark-orange);
  z-index: -1;
}

.btn:is(:hover, :focus)::before {
  width: 33px;
}

.btn:is(:hover, :focus)::after {
  width: 40px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.btn-link {
  color: var(--dark-orange);
  font-size: var(--fs-7);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.btn-link > * {
  transform: translateX(-22px);
  transition: var(--transition);
}

.btn-link:is(:hover, :focus) > * {
  transform: translateX(0);
}

.w-100 {
  width: 100%;
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  z-index: 1;
}

.hero-content {
  background-color: var(--black_60);
  color: var(--white);
  text-align: left;
  padding: 10px;
}

.hero-content > span {
  font-size: 5rem;
}

.hero-title .span {
  color: var(--dark-orange);
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  letter-spacing: 0.6rem;
  word-spacing: -3rem;
}

.hero-text {
  margin-block: 20px 15px;
}

.btn-outline {
  max-width: max-content;
  margin-inline: auto;
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  border: 1px solid var(--white);
  padding: 8px 20px;
  transition: var(--transition);
}

.btn-outline:is(:hover, :focus) {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.hero-shape {
  position: absolute;
  z-index: -1;
  animation: move 2s ease-in-out infinite alternate;
}

.hero .shape-1 {
  top: 100px;
  left: 30px;
}

.hero .shape-2 {
  bottom: 80px;
  right: 30px;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}



/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  background-image: url("../images/background-landing.png");
  background-size: cover; /* Cover the entire section with the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}


.service .section-title {
  margin-block-end: 20px;
}

.service .section-text {
  margin-block-end: 50px;
}

.service-card {
  background-color: var(--white);
  padding: 30px;
  border: 20px solid var(--cultured-3);
  transition: var(--transition);
}

.service-card:is(:hover, :focus-within) {
  border-color: var(--dark-orange);
}

.service-card .card-icon {
  margin-block-end: 30px;
}

.service-card .card-title .span {
  display: inline-block;
  color: var(--dark-orange);
  font-size: var(--fs-3);
  margin-inline-end: 15px;
}

.service-card .card-text {
  margin-block: 10px 20px;
}


/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

.feature .title-wrapper {
  margin-block-end: 30px;
}

.feature .section-text {
  margin-block: 20px 40px;
}

.feature-card {
  position: relative;
  padding: 30px;
  text-align: center;
  border: 1px solid var(--alice-blue);
  transition: var(--transition);
}

.feature-card:is(:hover, :focus-within) {
  box-shadow: var(--shadow-3);
}

.feature-card::before {
  content: var(--card-number);
  color: var(--cultured-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1;
  transition: var(--transition);
}

.feature-card:is(:hover, :focus-within)::before {
  color: var(--dark-orange);
}

.feature-card .card-icon {
  background-color: var(--alice-blue);
  width: 170px;
  height: 170px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-inline: auto;
  margin-block-end: 30px;
}

.feature-card .card-text {
  margin-block: 20px 40px;
}

.feature-card .card-btn {
  color: var(--prussian-blue);
  font-size: 24px;
  border: 2px solid var(--prussian-blue);
  max-width: max-content;
  margin-inline: auto;
  padding: 10px 18px;
}


/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project {
  background-color: var(--alice-blue);
}

.project :is(.section-subtitle, .section-title, .section-text) {
  text-align: center;
}

.project .section-text {
  margin-block: 20px 50px;
}

.project-card {
  position: relative;
}

.project-card .action-btn {
  background-color: var(--dark-orange);
  color: var(--white);
  font-size: 28px;
  padding: 16px;
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  transition: var(--transition);
}

.project-card:is(:hover, :focus-within) .action-btn {
  opacity: 1;
}

.project-card .card-tag {
  color: var(--dark-orange);
  font-size: var(--fs-9);
}

.project-card .card-content {
  position: relative;
  background-color: var(--white);
  padding: 20px 30px;
  margin-block-start: -50px;
  margin-inline-start: 30px;
}

.project-card .h3 {
  font-size: var(--fs-7);
}

.project-card .card-title {
  transition: var(--transition);
}

.project-card :is(.card-title, .card-link):is(:hover, :focus) {
  color: var(--dark-orange);
}

.project-card .card-link {
  color: var(--prussian-blue);
  font-size: var(--fs-10);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-start: 5px;
  transition: var(--transition);
}

.project-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-block-end: 40px;
  scroll-snap-type: inline mandatory;
}

.project-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.project-list::-webkit-scrollbar {
  height: 15px;
}

.project-list::-webkit-scrollbar-track {
  outline: 2px solid var(--prussian-blue);
}

.project-list::-webkit-scrollbar-thumb {
  border: 3px solid var(--cultured-1);
  background-color: var(--prussian-blue);
}

.project-list::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}


/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog :is(.section-subtitle, .section-title, .section-text) {
  text-align: center;
}

.blog .section-text {
  margin-block: 20px 50px;
}

.blog-card .card-content {
  position: relative;
}

.blog-card .card-meta {
  background-color: var(--prussian-blue);
  color: var(--white);
  text-align: center;
  font-size: var(--fs-5);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  line-height: 1.5;
  max-width: max-content;
  margin-inline: auto 20px;
  margin-block: -80px 20px;
  padding: 20px 25px;
  box-shadow: -8px 8px 0 var(--dark-orange);
}

.blog-card .card-meta .span {
  color: var(--dark-orange);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  line-height: 0.75;
}

.blog-card .card-text {
  margin-block: 15px;
}


/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter {
  background-color: var(--dark-orange);
}

.newsletter .img-holder {
  background-color: transparent;
  margin-block-end: 20px;
  max-width: max-content;
}

.newsletter .section-title {
  margin-block-end: 20px;
}

.email-field {
  background-color: var(--white);
  color: var(--eerie-black);
  font-size: var(--fs-9);
  height: 65px;
  padding-inline: 20px;
  margin-block-end: 10px;
  outline: none;
  transition: var(--transition);
}

.email-field:focus {
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
}

.newsletter-btn {
  background-color: var(--prussian-blue);
  color: var(--white);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-700);
  padding: 8px 20px;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--plutinum);
  color: var(--prussian-blue);
}

.footer-top {
  display: grid;
  gap: 40px;
}

.footer .logo {
  color: var(--prussian-blue);
  font-weight: var(--fw-800);
  font-size: 3.2rem;
}

.footer-text {
  margin-block: 10px 30px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: var(--indigo-dye);
  color: var(--white);
  font-size: 20px;
  padding: 12px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background-color: var(--prussian-blue);
}

.footer-list-title {
  font-size: var(--fs-6);
  max-width: max-content;
  padding-block-end: 10px;
  border-block-end: 3px solid var(--dark-orange);
  margin-block-end: 20px;
}

.footer-link {
  padding-block: 6px;
}

.footer-bottom {
  padding-block: 40px;
  border-block-start: 1px solid var(--prussian-blue);
  font-size: var(--fs-9);
  color: var(--indigo-dye);
}

.copyright-link {
  display: inline-block;
}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--eerie-black);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}


/*-----------------------------------*\
  #MEDIA QUERISE
\*-----------------------------------*/

/**
 * responsive for larger than 540px screen
 */

@media (min-width: 540px) {

  /**
   * REUSED STYLE
   */
  .btn {
    font-size: var(--fs-7);
    padding-inline: 30px 60px;
  }



  /**
   * HERO
   */
  .hero {
    justify-content: center;
  }

  .hero .shape-1 {
    left: 45px;
  }

  .hero-content {
    background-color: transparent;
    /*text-align: left;*/
  }

  .hero-title {
    display: flex;
    font-size: 50rem;

  }

  .hero-title .span {
    --fs-2: 6rem;
  }

  .hero-text {
    max-width: 30ch;
  }

  .btn-outline {
    margin-inline: 0;
  }

}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */
  .containe {
    max-width: 720px;
  }

  .h1 {
    --fs-3: 6rem;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }


  /**
   * HERO
   */
  .hero-title .span {
    --fs-2: 7rem;
  }

  .hero-text {
    font-size: var(--fs-7);
    max-width: 40ch;
    margin-block-end: 40px;
  }

  .btn-outline {
    font-size: var(--fs-7);
    padding: 12px 30px;
  }


  /**
   * FEATURES
   */
  .feature-card::before {
    --fs-1: 10rem;
  }


  /**
   * PROJECT
   */
  .project-list {
    gap: 80px;
  }

  .project-item {
    min-width: calc(50% - 40px);
  }


  /**
   * NEWSLETTER
   */
  .newsletter {
    margin-block-start: 110px;
  }

  .newsletter .containe {
    position: relative;
  }

  .newsletter .newsletter-banner {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-block-end: 0;
  }

  .newsletter-content {
    max-width: 355px;
    margin-inline-start: auto;
  }

  .newsletter .section-title {
    --fs-4: 4rem;
  }

  .newsletter-btn {
    font-size: var(--fs-5);
    padding: 10px 30px;
  }


  /**
   * FOOTER
   */
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }

}


/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */
  :root {

    /**
     * typography
     */

    --fs-4: 4.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }


  /**
   * REUSED STYLE
   */
  .containe {
    max-width: 960px;
  }

  .h1 {
    --fs-3: 10rem;
  }

  .section-subtitle {
    --fs-6: 3rem;
  }

  .section-text {
    max-width: 70ch;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }



  /**
   * HERO
   */


  .hero-title .span {
    --fs-2: 12rem;
  }

  /**
   * FEATURE
   */
  .feature .title-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: self-end;
  }

  .feature .section-text {
    margin-block-end: 0;
  }

  .feature-list {
    margin-block-start: 120px;
  }

  .feature-card {
    padding-block-start: 80px;
  }

  .feature-card::before {
    --fs-1: 16rem;
    position: absolute;
    top: -90px;
    left: 20px;
  }


  /**
   * PROJECT
   */
  .project-item {
    min-width: calc(33.33% - 53.33px);
  }


  /**
   * BLOG
   */
  .blog-list {
    grid-template-columns: 1fr 1fr;
  }


  /**
   * NEWSLETTER
   */
  .newsletter {
    padding-block: 30px;
  }

  .newsletter .newsletter-banner {
    bottom: -30px;
  }

  .newsletter-content {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  /**
   * FOOTER
   */
  .footer-top {
    grid-template-columns: repeat(4, 1fr);
    justify-items: self-end;
  }


}


/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */
  .containe {
    max-width: 1180px;
  }

  .h1 {
    --fs-3: 12rem;
  }




  /**
   * HERO
   */



  /**
   * NEWSLETTER
   */
  .newsletter-content {
    max-width: 840px;
    grid-template-columns: 0.8fr 1fr;
  }


  /**
   * FOOTER
   */
  .footer-top {
    padding-block: 60px;
  }


  /* Add these styles to your existing CSS */
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    color: #fff;
  }


  .flex-container {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

  }


  .logo-image-container {
    display: flex;
    align-items: center;
    opacity: 1;
    margin-left: 2rem;
    border-radius: 8px; /* Add a subtle border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .first {
    display: inline-block;
    font-size: 5rem;

    -webkit-background-clip: text;

    color: transparent;

  }


  .dynamic-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #f19f3f;
    color: #faf4f7;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }

  .dynamic-button:hover {
    background-color: #f19f3f;
    color: #fff;
    transform: scale(1.05);
  }





  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0e0e;
    color: #fff;
    font-size: 19px;
    text-align: right;
  }





  .glow-on-hover {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #0F1C28FF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border-radius: 10px;
    font-family: sans-serif;
  }

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #0F1C28FF
  }

  .glow-on-hover:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0f1c28;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
}
